html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;

    font-family: "Roboto"
}

/* background color */
body {
    background: #FFFAC1
}

.wrapper {
    display: flex;
    max-width: 33%;
    flex-direction: column;
    height: 50%;
}

.top {
    text-decoration: underline;
    margin: 0px 0px -20px 37px;
    color: #755B00;
}

.bottom {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.fa {
    font-size: 1px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 13px 15px 17px 0px; /* top right bottom left */
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.bio {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 21px;
    line-height: 125%;
    color: #715800;
}
